@import "styles/scheme";

.footer {
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-wrapper {

  max-width: 1200px;
  margin: 15vh auto 2rem;
  padding: 2rem 4rem;
  color: white;
  border: 5px dashed darken($background-light, 3);

  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.footer__initials {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.footer__email {
  color: #999;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.footer__copyright {
  color: $primary;
}

.footer__links {
  margin-top: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.footer__links__item {
  color: #949494;
  text-decoration: underline;

  &:hover {
    color: #FFF;
  }
}