@import "styles/scheme";

.heading {
  position: relative;

  width: 100%;
  height: 100vh;

  background-size: cover;

  display: flex;

  align-items: center;
  justify-content: center;

  background: url("../../public/img/background-cmp.jpg") center no-repeat;
  background-size: cover;

}

.heading__content {
  opacity: 0;
  animation: heading 0.5s 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

.heading__content-wrapper {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;

  padding: 0 5rem;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading__content__role {
  color: $primary;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.heading__content__role__suffix {
  margin-left: 0.5rem;
  color: #a7a7a7;
  font-weight: normal;
}


@keyframes heading {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}