@import "styles/scheme";

.heading {
  position: relative;

  width: 100%;
  height: 100vh;

  background-size: cover;

  display: flex;

  align-items: center;
  justify-content: center;

  background: url("../../public/img/background.jpg") center no-repeat;
  background-size: cover;

}

.heading__content-wrapper {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;

  padding: 0 5rem;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading__content__role {
  color: $primary;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.heading__content__role__suffix {
  margin-left: 0.5rem;
  color: #a7a7a7;
  font-weight: normal;
}
