@import "styles/scheme";

.nav {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;

  opacity: 0;
  transition: gap 0.2s ease;
  animation: nav 0.5s 0s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

@keyframes nav {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes nav-floating {
  0% {
    opacity: 0;
    transform: translate(-50%, 50%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.nav--floating {
  flex-flow: row;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  gap: 0;
  z-index: 10;
  animation: nav-floating 0.5s 0s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;

  transition: background-color 0.5s ease;

  &:hover {
    background-color: $background-light;
  }

  .nav__button {
    border-radius: 0;

    &:first-child {
      border-bottom-left-radius: 8px;
    }

    &:last-child {
      border-bottom-right-radius: 8px;
    }

  }

  .nav__button:hover {
    transform: scale(1);
  }

  .nav__button:active {
    transform: translateY(-15px) scale(1);
  }
}

.nav__button {
  position: relative;
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.5;
  background: $background-light;
  border-bottom: 5px solid $background-lighter;
  transition: opacity 0.5s ease, border-bottom-color 0.25s, background-color 0.2s ease, transform 0.25s ease;
  border-radius: 8px;
  transform: scale(1);
}

.nav .nav__button--top {
  display: none;
}

.nav--floating .nav__button--top {
  display: initial;
}

.nav__button:hover {
  opacity: 1;
  background-color: $primary-dark;
  border-bottom-color: lighten($primary-dark, 15);
  transform: scale(1.05);
  z-index: 1;
}

.nav__button:active {
  transform: scaleX(0.9);
}

@media all and (max-width: 800px) {

  .nav--floating {
    position: relative;
    left: unset;
    top: unset;
    transform: unset;
    gap: 1rem;
    z-index: initial;
    flex-flow: row wrap;
    animation: none;
  }

}