.technology__block {
  display: flex;
  flex-flow: row;
  gap: 2rem;


  &:nth-child(even) {
    flex-flow: row-reverse;
  }

}

.technology__block__image {
  flex: auto;
  width: 50%;
  max-width: 120px;
  justify-self: center;
  align-self: center;
}

@media all and (max-width: 760px) {

  .technology__block {
    flex-flow: column;
    gap: 4rem;
  }

  .technology__block:nth-child(even) {
    flex-flow: column;
  }

  .technology__block__image {
    padding: 2rem;
    max-width: 300px;
  }

}