.typer {
  position: relative;
  margin-right: 4px;
}

// Display & animate the cursor when typing
.typer[data-typing=true]::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 0;
  width: 2px;
  height: 100%;
  background: currentColor;
  animation: typer-cursor-blink 1s 1s infinite;
}

// Blinking cursor animation
@keyframes typer-cursor-blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}