@import "scheme";
@import "tools";

.about {

}

.title {
  position: relative;

  padding: 2rem;
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
  text-align: center;
  max-width: 700px;
  margin: 2rem auto;

  /*
    Pseudo after element for the title element is used to
    display an underline in the primary color
  */
  &::after {
    @include pseudo-content; // Apply the default pseudo styles

    top: unset; // Resetting the top offset from pseudo content
    bottom: 5px; // Offset the line 5px from the bottom

    left: 50%; // Position the element half way along the parent
    transform: translateX(-50%) scale(1); // Translate it left by half the element width to center it

    max-width: 300px; // Ensure the line isn't longer than 300px
    height: 5px; // Make the line 5px in height

    background-color: $primary; // Use the primary colour
  }
}


.blocks {
  padding: 2rem 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  max-width: 1200px;
  margin: 0 auto;
}

.block {
  position: relative;
  border-radius: 8px;

  &--span {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &::before {
    @include pseudo-content;

    top: unset;
    bottom: 0;

    width: 100%;

    transition: transform 0.5s ease;
    transform: scaleX(0);
    background-color: $primary-dark;

    height: 5px;
    border-radius: 5px;
  }


  padding: 2rem;

  transition: all 0.5s ease;

  background: $background-light;

  &:hover {
    // Transform the card to look as though its tilted upwards
    transform: perspective(600px) rotateX(5deg);
    background-color: $background-light-2;

    &::before {
      transform: scaleX(1);
    }
  }


  &__title {
    margin-bottom: 1rem;
    color: white;
    font-size: 1.5rem;

    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

  }

  &__text {
    color: #AAA;
    font-size: 1.25rem;
    line-height: 1.6;

    transition: color 0.5s ease;
  }
}