@import "scheme";
@import "tools";

/*
  Styling for the root outermost element that wraps the about
  page content
*/
.about {
  /*
    Large padding on the top to separate from heading
    and small side paddings to space from window edges
    and cause wrapping on smaller screens
  */
  padding: 5rem 2rem 0;
}

/*
  Styling for the about title "Getting to know me..." this
  includes the line drawn underneath it
*/
.about__title {
  position: relative; // Relative positioning for the line with absolute positioning

  font-size: 2.5rem; // 2.5x larger than the root font size
  font-weight: 400; // Lighter font weight to compensate for larger size

  color: white; // White font to draw the eye more than other elements

  text-align: center; // Align the text to center
}

.about__blocks {

  margin-top: 2rem;
  margin-bottom: 2rem;

  display: grid; // Apply a grid layout to the blocks
  grid-template-columns: 1fr 1fr; // Automatically create two columns
  gap: 2rem; // Apply a gap of 2rem between each element
}

.block {
  position: relative;
  border-radius: 8px;
  padding: 2rem;
  transition: all 0.5s ease;
  background: $background-light;
}

.block::before {
  @include pseudo-content;

  top: unset;
  bottom: 0;

  width: 100%;

  transition: transform 0.5s ease;
  transform: scaleX(0);
  background-color: $primary-dark;

  height: 5px;
  border-radius: 5px;
}

.block:hover {
  // Transform the card to look as though its tilted upwards
  transform: perspective(600px) rotateX(5deg);
  background-color: $background-light-2;

  &::before {
    transform: scaleX(1);
  }
}

.block__title {
  margin-bottom: 1rem;
  color: white;
  font-size: 1.5rem;

  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.block__text {
  color: #AAA;
  font-size: 1.25rem;
  line-height: 1.6;
}

/*
  Styling attribute for block class which allows the
  block to span across two rows rather than just one
*/
.block--span {
  // Span from columns 1 through til 3 (two columns)
  grid-column-start: 1;
  grid-column-end: 3;
}


/*
  1000px is where the two columns begin to be too large
  to fit on the screen at the same time without causing
  clutter so at this point the columns are turned into 1
*/
@media all and (max-width: 1000px) {

  .about__blocks {
    grid-template-columns: 1fr; // Set the column template to one column
  }

  .block--span {
    grid-column: 1; // Revert the spanning column to just one column
  }

}

/*
  At 500px we begin to get more into smaller device territory.
  at this width the current enlarged font sizes can appear too
  large on mobile devices so this is decreased the padding on
  the blocks is also decreased for more room. The block texts
  are aligned to center to better fit the mobile reading flow
*/
@media all and (max-width: 500px) {

  .about__title {
    font-size: 1.7rem;
  }

  .block__title {
    font-size: 1.3rem;
    text-align: center;
  }

  .block__text {
    font-size: 1.15rem;
    text-align: center;
  }

  .block {
    padding: 1rem; // Decrease the padding for more space
  }
}