.heading {
  position: relative;

  width: 100%;
  height: 100vh;

  background-size: cover;

  display: flex;

  align-items: center;
  justify-content: center;

  background: url("../public/background-2.png") center no-repeat;
  background-size: cover;

}

.content {

  &__wrapper {
    display: flex;
    flex-flow: column;
    gap: 2.5rem;

    padding: 0 5rem;
    width: 100%;
    max-width: 1400px;
  }


  &__image {

  }

  &__name {
    color: white;
    font-size: 5rem;
    font-weight: 500;
  }

  &__role {
    color: #7ed380;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0.5rem;

    &__suffix {
      margin-left: 0.5rem;
      color: #a7a7a7;
      font-weight: normal;
    }
  }
}

.nav {

  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  gap: 1rem;

  &__button {
    position: relative;
    border-radius: 1rem;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;

    z-index: 0;

    opacity: 0.5;
    transition: opacity 0.5s ease;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      transform: skewX(-15deg) scale(1);
      background: #222;
      border-bottom: 5px solid #333;

      transition: border-bottom-color 0.25s, background-color 0.2s ease, transform 0.25s ease;
      z-index: -1;
    }

    &:hover {
      opacity: 1;

      &::after {
        transform: skewX(-15deg) scale(1.1);
        background-color: #518752;
        border-bottom-color: #6ab56c;
      }
    }

  }
}