@import "scheme";
@import "tools";

.heading {
  position: relative;

  width: 100%;
  height: 100vh;

  background-size: cover;

  display: flex;

  align-items: center;
  justify-content: center;

  background: url("../public/background.jpg") center no-repeat;
  background-size: cover;

}

.content {

  &__wrapper {
    display: flex;
    flex-flow: column;
    gap: 2.5rem;

    padding: 0 5rem;
    width: 100%;
    max-width: 1400px;
  }

  &__name {
    color: white;
    font-size: 5rem;
    font-weight: 500;
  }

  &__role {
    color: $primary;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0.5rem;

    &__suffix {
      margin-left: 0.5rem;
      color: #a7a7a7;
      font-weight: normal;
    }
  }
}

.nav {

  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  gap: 1rem;

  &__button {
    position: relative;
    border-radius: 1rem;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;

    z-index: 0;

    opacity: 0.5;
    transition: opacity 0.5s ease;

    &::after {
      @include pseudo-angle-background;

      background: $background-light;
      border-bottom: 5px solid $background-lighter;
      transition: border-bottom-color 0.25s, background-color 0.2s ease, transform 0.25s ease;
    }

    &:hover {
      opacity: 1;

      &::after {
        transform: skewX(-15deg) scale(1.1);
        background-color: $primary-dark;
        border-bottom-color: lighten($primary-dark, 5);
      }
    }

  }
}