.typer {
  position: relative;
  margin-right: 4px;

  &[data-typing=true]:after {
    content: "";
    position: absolute;
    right: -4px;
    top: 0;
    width: 2px;
    height: 100%;
    background: currentColor;
    animation: cursor-blink 1s 1s infinite;
  }
}

@keyframes cursor-blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}